:root {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.vp-doc p, .vp-doc li + li {
  text-align: justify;
}

/* 滚动条样式 */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: var(--vp-c-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--vp-c-divider);
  border-radius: 6px;
  transition: background 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--vp-c-divider-light);
}



